.header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px var(--color-secondary) solid;
}

.avatar-image {
  width: 70px;
  height: 70px;
}

.header-title {
  line-height: 64px;
  font-size: 32px;
  color: var(--color-primary);
}
