.header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px #ccc solid;
}

.avatar-image {
  width: 70px;
  height: 70px;
}

.header__title {
  line-height: 64px;
  font-size: 32px;
}
