.main-container {
  margin-top: 20px;
}

.product-row {
  display: grid;
  grid-template-columns: 2fr 1fr repeat(6, 1fr);
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-top: 6px;
  padding-bottom: 6px;
}

.icon-arrow {
  height: 15px;
}

.col-product-name::after {
  content: '\2193';
}
