.main-container {
  margin-top: 20px;
}

.table-container {
  border-radius: 10px;
  box-shadow: 0px 1px 7px 2px var(--color-secondary);
}

.product-row {
  display: grid;
  grid-template-columns: 2fr 1fr repeat(6, 1fr);
  align-items: center;
  border-bottom: 1px solid var(--color-secondary);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
}

.product-header {
  background: rgb(240, 240, 240);
  color: rgb(70, 70, 70);
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
}

.product-items {
  color: rgb(116, 130, 143);
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
}

.icon-arrow {
  height: 15px;
}

.product-label:hover {
  cursor: pointer;
}

.arrow-down::after {
  content: '\2193';
  font-size: var(--font-size-2s);
  font-weight: 900;
}

.arrow-up::after {
  content: '\2191';
  font-size: var(--font-size-2s);
  font-weight: 900;
}

.flex-space-between {
  position: relative;
  display: flex;
  gap: 20px;
  margin-bottom: 35px;
  align-items: flex-end;
}

.label {
  width: fit-content;
  padding: 0px 7px;
  border-radius: 20px;
  color: #222222;
}

.best-seller-label {
  background: rgb(212, 248, 211);
}

.poor-seller-label {
  background: rgb(248, 244, 211);
}

.on-sale-label {
  background: rgb(237, 231, 251);
}

.new-arrival-label {
  background-color: #f5e5e2;
}

.low-stock-label {
  background-color: #da8a7bd6;
}

.input-search {
  padding: 7px 30px 7px 37px;
  height: 25px;
  margin-top: 5px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;

  :focus {
    border-color: #d14d7b;
  }
}

.icon-search {
  position: absolute;
  top: 14px;
  left: 5px;
  width: 20px;
  height: 20px;
}

.icon-sort {
  width: 20px;
  height: 15px;
}

.col-product {
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.button-filter-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-reset {
  color: var(--color-primary);
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--color-base);

  &:hover {
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 4px 0 var(--color-primary);
  }
}

.btn-filter {
  position: relative;
  padding-right: 15px;
  background-color: var(--color-base);
  line-height: 18px;

  &:hover {
    background-color: #2b2b2b;
    color: var(--color-base);
  }
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.label-selection {
  font-size: var(--font-size-xs);
  color: #595656;
}

.select-filter {
  padding: 5px 10px 5px 0px;
  color: var(--color-primary);
  cursor: pointer;

  &:hover {
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 4px 0 var(--color-primary);
  }

  option {
    background-color: #d14d7b;
    color: var(--color-base);
  }
}

.button-add-product {
  cursor: pointer;
  background-color: var(--color-base);
  height: 38px;
  padding: 0 10px;
  font-size: var(--font-size-s);
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid var(--color-primary);
  margin-left: auto;

  &:hover {
    background-color: var(--color-primary);
  }
}

.btn-action {
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
    scale: 1.1;
  }
}
