.main-container {
  margin-top: 20px;
}

.product-row {
  display: grid;
  grid-template-columns: 2fr 1fr repeat(6, 1fr);
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-top: 6px;
  padding-bottom: 6px;
}

.icon-arrow {
  height: 15px;
}

.col-product-name::after {
  content: '\2193';
}

.flex-space-between {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.input-search {
  padding-left: 37px;
  padding-right: 10px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.icon-search {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 20px;
  height: 20px;
}
