.btn {
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #b2b2b2;
}

.btn-light {
  background-color: var(--color-base);
}

.btn-dark {
  background-color: #2b2b2b;
  color: var(--color-base);
}
